<h1> Add new note</h1>

<form method="post">
	<label> Title </label>
	<input type="text" name="title"/>
	<br/>
	<label> Message </label>
	<textarea name="message"></textarea>
	<br/>
	<input type="submit" class="btn btn-primary" value="Save"/>
</form>